<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    
    <xacro:include filename="gazebo_head.xacro" />
    <xacro:include filename="gazebo_car.xacro" />

    <xacro:include filename="move.urdf.xacro" />
    <xacro:include filename="my_laser.urdf.xacro" />
    <xacro:include filename="my_camera.urdf.xacro" />
    <xacro:include filename="my_imu.urdf.xacro" />

</robot>


